.chat-widget {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 99;
}

.chat-btn {
  background-color: 673EE4;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 15px rgba(108, 70, 214, 0.3);
  transition: transform 0.3s, background-color 0.3s;
  border: none;
  cursor: pointer;
}
.chat-icon {
  width: 24px;  /* Adjust as needed */
  height: 24px;
}
.chat-btn:hover {
  background-color: 673EE4;
  transform: translateY(-3px);
}

.chat-btn:before {
 
  font-size: 18px;
}
